accelerate
bitsandbytes
black
datasets
evaluate
ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
jupyter-lsp
matplotlib
nbconvert
nbformat
ninja
notebook
packaging
peft
protobuf
sentencepiece
setuptools
tensorboard
transformers
trl
wheel
